---
---

@import "{{ site.theme }}";

.page-header {
  background-color: none;
  background-image: url(https://www.arthistoricum.net/fileadmin/groups/arthistoricum/Netzwerke/fylr/header_netzwerke_fylr.png);
  padding: 2rem 8rem;
}

.project-name {
  background-color: white;
  opacity: 0.85;
  color: #606c71;
}

.project-tagline {
  background-color: white;
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0.85;
  color: #606c71;
}

img[alt='arthistoricum.net'], img[alt='Propylaeum'], img[alt='NFDI4Culture'] {
  width: 250px;
}
